@using Newtonsoft.Json
@inject IPullRequestService PullRequestService

<div class="card" style="width: 18rem;">
  <div class="card-body">
    @prCount PRs in master but not in staging
  </div>
</div>

@functions {
    private int? prCount = 0;

    protected override async Task OnInitAsync()
    {
        prCount = await PullRequestService.GetNotInStagingPrCountAsync();
    }
}
