@using Newtonsoft.Json
@inject HttpClient Http

<div class="card" style="width: 18rem;">
  <div class="card-body">
    @prCount Open PRs
  </div>
</div>

@functions {
    private int prCount = 0;

    protected override async Task OnInitAsync()
    {
        var res = await Http.SendAsync(RequestFactory.OpenPrCountRequest());
        var stringData = await res.Content.ReadAsStringAsync();

        var data = JsonConvert.DeserializeObject<RepoMessage[]>(stringData);

        prCount = data.Length;
    }
}