@page "/"

<div class="row">
    <h1>Api Contract Dashboard</h1>
</div>

<br/>

<div class="row">
    <div class="col-sm">
        <OpenPrCount />
    </div>
    <div class="col-sm">
        <MasterPrCount />
    </div>
    <div class="col-sm">
        <StagingPrCount />
    </div>
</div>
