@page "/pulls"

@using Newtonsoft.Json
@inject IPullRequestService PullRequestService

<h2>Pull Requests</h2>

@if (pullRequests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var pullRequest in pullRequests)
    {
        <div class="row">
            <PullRequest title="@pullRequest.title" labels="@pullRequest.labels"/>
        </div>
        <br/>
    }
}

@functions {

    private List<RepoMessage> pullRequests { get; set; }

    protected override async Task OnInitAsync()
    {
        pullRequests = await PullRequestService.GetAllOpenPullRequestsAsync();
    }
}